<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


      <bean id="address" class="com.spring.Address">
          <property name="street" value="street 101"/>
          <property name="city" value="Jalandhar"/>
          <property name="state" value="Punjab"/>
          <property name="country" value="India"/>
          <property name="zip" value="144006" />
      </bean>

      <bean id="customer" class="com.spring.Customer">
          <property name="customerId" value="102"/>
          <property name="customerName" value="Rahul"/>
          <property name="customerContact" value="99999999999"/>
          <property name="customerAddress" ref="address"/>

      </bean>

</beans>